{% extends 'shared/base.html' %}
{% load static %}

{% block Title %} Products {% endblock Title %}

{% block Content %}
<div class="container pt-4">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card h-100">
                {% if product.image.url != None %}
                <img src="{{ product.image.url }}" class="img-thumbnail rounded h-75" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'shared/img/product-placeholder.jpg' %}" class="img-thumbnail rounded h-75"
                    alt="{{ product.name }}">
                {% endif %}
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="{% url 'products:detail' product.id %}">{{ product.name }}</a></h4>
                    <p class="card-text">Q. {{ product.price }}</p>
                    <a href="{% url 'products:detail' product.id %}" class="btn btn-outline-secondary">See product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock Content %}