{% extends 'shared/base.html' %}
{% load static %}

{% block Title %} Products {% endblock Title %}

{% block Content %}
<div class="container pt-4">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de Producto</th>
                <th>Stock</th>
            </tr>
        </thead>

        {% for product in products %}
        <tbody>
            <tr>
                <td><a href="{% url 'products:detail' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.product_type }}</td>
                <td>{{ product.stock }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock Content %}